h1{
    font-size: 40px;
    color: rgb(6, 90, 62);


}

a{
    font-size: 20px;
    color: darkcyan;
}

h2{
    font-size: 30px;
    color: rgb(5, 82, 82);


}

h4{
    font-size: 15px;
    color:rgb(19, 126, 5);

}

